body {
  background-color:black;
  color:white;
  font-family:sans-serif;
}

h1 {
  font-size:100px;
}

h2 {
  font-size:89px;
}

h3 {
  font-size:78px;
}

h4 {
  font-size:67px;
}

h5 {
  font-size:56px;
}

h6 {
  font-size:45px;
}

h7 {
  font-size:34px;
  font-weight:bold;
}

.subtitle {
  font-size:34px;
}
