body {
  background-color:black
  color:white
  font:sans-serif
}

h1 {
  font-size:100
}

h2 {
  font-size:89
}

h3 {
  font-size:78
}

h4 {
  font-size:67
}

h5 {
  font-size:56
}

h6 {
  font-size:45
}

h7 {
  font-size:34
}
